body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 2rem;
  width: 5rem;
  height: 3rem;
  color: #0000ff;
  font-size: 1rem;
  background: #add8e6;
  border: 1px solid #add8e6;
  border-radius: 20%;
}

button:hover {
  background: #00ffff;
  border-radius: 45%;
}


